.DS_Store

neural_network/annotated
neural_network/datasets
neural_network/test

frontend/node_modules
frontend/build

backend/__pycache__
backend/uploads

presentation/build

text/__pycache__
test/images
test/out